{% extends 'layout.html' %}

{% block content %}

	<!--headline S -->
<div class="headline layout_width">
	<div class="title">오늘의 경기(3월 15일 월요일)</div>
	<div class="leagueNm">잉글랜드 프리미어리그</div>
	<img src="/css/image/ars.png" class="ars_img">
	<img src="/css/image/tot.png" class="tot_img">
	<div class="result">아스널&nbsp; 2&nbsp; vs &nbsp;1&nbsp; 토트넘</div>
</div>
<!--headline E -->
<!-- 아스널 스쿼드 S -->
<div class="ars_wrap layout_width">
	<div class="ars t_list">
		<div class="column_wrap">
			<div class="teamNm">아스널 스쿼드</div>
			<ul class="s_title">
				<li>등번호</li>
				<li>이름</li>
				<li>포지션</li>
				<li>골</li>
				<li>도움</li>
				<li>경고</li>
				<li>퇴장</li>
				<li>평점</li>
			</ul>
		</div>
		<div class="profile">
			<div class="profile_wrap">
				<div class="backNm">
				{% for item in ars_list %}
					<ul>
						<li>{{ item.backNo }}</li>
					</ul>
					{% endfor %}
				</div>
				<div class="playerNm">
				{% for item in ars_list %}
					<ul>
						<li>{{ item.playerNm }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="position">
				{% for item in ars_list %}
					<ul>
						<li>{{ item.position }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="goal">
				{% for item in ars_list %}
					<ul>
						<li>{{ item.goal }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="assist">
				{% for item in ars_list %}
					<ul>
						<li>{{ item.assist }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="yellow">
				{% for item in ars_list %}
					<ul>
						<li>{{ item.yellow }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="red">
				{% for item in ars_list %}
					<ul>
						<li>{{ item.red }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="rating">
					<div class="avg">8.0</div>
					<select class="vote">
						<option value="10">10</option>
						<option value="9">9</option>
						<option value="8">8</option>
						<option value="7">7</option>
						<option value="6">6</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 아스널 스쿼드 E -->

<!-- 토트넘 스쿼드 S -->
<div class="ars_wrap layout_width">
	<div class="tot t_list">
		<div class="column_wrap">
			<div class="teamNm">토트넘 스쿼드</div>
			<ul class="s_title">
				<li>등번호</li>
				<li>이름</li>
				<li>포지션</li>
				<li>골</li>
				<li>도움</li>
				<li>경고</li>
				<li>퇴장</li>
				<li>평점</li>
			</ul>
		</div>
		<div class="profile">
			<div class="profile_wrap">
				<div class="backNm">
				{% for item in tot_list %}
					<ul>
						<li>{{ item.backNo }}</li>
					</ul>
					{% endfor %}
				</div>
				<div class="playerNm">
				{% for item in tot_list %}
					<ul>
						<li>{{ item.playerNm }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="position">
				{% for item in tot_list %}
					<ul>
						<li>{{ item.position }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="goal">
				{% for item in tot_list %}
					<ul>
						<li>{{ item.goal }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="assist">
				{% for item in tot_list %}
					<ul>
						<li>{{ item.assist }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="yellow">
				{% for item in tot_list %}
					<ul>
						<li>{{ item.yellow }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="red">
				{% for item in tot_list %}
					<ul>
						<li>{{ item.red }}</li>
					</ul>
				{% endfor %}
				</div>
				<div class="rating">
					<div class="avg">8.0</div>
					<select class="vote">
						<option value="10">10</option>
						<option value="9">9</option>
						<option value="8">8</option>
						<option value="7">7</option>
						<option value="6">6</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 토트넘 스쿼드 E -->
{% endblock %}