/* 초기화 S */
html {
	font-size: 12px;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* 초기화 E */

/* 공통 속성 S */

.layout_width {
	width: 1400px;
	margin: 0 auto !important;
}

.t_list {
	border: 1px solid #000000;
	width: calc(100% / 2 - 50px);
	margin-top: 30px;
}

.teamNm {
	text-align: center;
	font-size: 2rem;
	height: 50px;
	line-height: 48px;
}

.s_title {
	font-size: 1.3rem;
	text-align: center;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.s_title > li {
	display: inline-block;
	float: left;
	width: calc(100% / 8);
}

.s_title > li:nth-child(2) {
	width: 15%;
}

.s_title > li:nth-child(3) {
	width: 9%;
}

.column_wrap ul:after {
	clear: left;
	display: block;
	content: "";
}

.profile {
	text-align: center;	
}

.backNm, .playerNm, .position, .goal, .assist, .yellow, .red, .rating {
	float: left;
	width: calc(100% / 8);
	margin-top: 10px;
}

.profile:after {
	clear: left;
	display: block;
	content: "";
}

.profile_wrap li {
	margin-bottom: 15px;
	font-size: 1.2rem;
}

/* 공통 속성 E */

/* headline S */

.title {
	font-size: 3rem;
	text-align: center;
}

.leagueNm {
	font-size: 1.5rem;
	text-align: left;
}

.ars_img {
	position: relative;
	left: 440px;
	top: 55px;
}

.tot_img {
	position: relative;
	left: 850px;
	top: 55px;
}

.result {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 30px;
}

/* headline E */


/* 스쿼드 테이블 S */
.ars {
	float: left;
}

/* 아스널 스쿼드 E */


/* 토트넘 스쿼드 S */
.tot {
	float: right;
}

.tot_wrap:after {
	clear: both;
	display: block;
	content: "";
}

.tot .playerNm {
	width: 15%;
}

.tot .position {
	width: 9%;
}



/* 토트넘 스쿼드 S */